.content {
  padding: 20px 0;
  
}

.table-responsive {
  margin: 30px 0;
}













.pagination {
  float: right;
  margin: 0 0 5px;
}
.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}
.pagination li a:hover {
  color: #666;
}
.pagination li.active a,
.pagination li.active a.page-link {
  background: #03a9f4;
}
.pagination li.active a:hover {
  background: #0397d6;
}
.pagination li.disabled i {
  color: #ccc;
}
.pagination li i {
  font-size: 16px;
  padding-top: 6px;
}


/* filter form  */
.filter__form {
  display: none;
}
.insert__form {
  display: none;

}
.insert__fields{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

}

.insert__field{
  background-color: red;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.insert__field span{
  font-size: 14px;
}
.insert__field input{
 width: 150px;
}

.alert__area {
  display: none;
}

td input {
  width: 150px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.iconsTd {
  width: 120px !important;
}
.deleteIcon {
  color: red !important;
  cursor: pointer;
  /* margin-right: 10px !important; */
}
.updateIcon {
  color: blue !important;
  cursor: pointer !important;
  margin: 0 5px !important;
}
.activeIcon {
  color: rgb(84, 230, 0) !important;
}






.idTd input {
  font-weight: bold;
}
.resizedField input{
  width: 100px;
  
}

.toggleOff {
  color: red !important;
  font-size: 30px !important;
}
.toggleOn {
  color: green !important;
  font-size: 30px !important;
}
.activeWord{
	
	font-size: 18px;
}

.activeIcon {
  color: green !important;
  
}
.non-activeIcon {
  color: red !important;
}

.page-item {
  margin: 0 5px;
  cursor: pointer;
}

.title__bottom {
  display: flex;
  justify-content: space-between;
}

.buttons {
  float: right;
  display: flex;
}
.buttons button {
  margin: 5px;
  width: 80px;
}

.insert__form {
  width: 900px;
  
}
.insert__form input {
  margin: 10px;
}


/* filter form */
.filter__form{
	margin-left: 10px;
}
.filter__form select{
	
	padding: 5px ;
}
.filter__form input{
	margin: 0 10px;
	padding: 3px 5px;
	outline: none;

}

.filterBtn{
  background-color: #003146 !important;
  border: none;
}
.newBtn{
  background-color: rgb(0, 4, 61) !important;
  border: none;
}

.listTitle{
	margin: 20px 10px 30px 10px;
}

#table{
	margin-top: 20px;
}


.idTd input{
	width: 50px;
	/* background-color: red; */
}

#new__search__form td input{
 border: 0.5px solid green;
  
}

.new__search__form td input{
  /* border: 1px solid rgb(255, 37, 37); */
  padding: 3px;
  background: white;
}

.new__search__form td input:hover{
  cursor: text;
}


#new__add__form td input{
  border: 1px solid blue !important;
}