#pagination__container{
    display: flex;
    align-items: center;
    float: right;
}
#pagination__container button{
    width: fit-content;
    /* color: black !important; */
    margin: 0 5px;
    background-color: #007bff; /* Primary color */
    color: white; /* Text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px; /* Padding for button */
    margin: 0 5px; /* Space between buttons */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.2s ease;
}
#pagination__container button:hover{
    background-color: #0056b3; /* Darker shade on hover */
    transform: scale(1.05);
}

#pagination__container button.active {
    background-color: #0056b3; /* Active button color */
    font-weight: bold; /* Bold text for active button */
}

/* Disabled button style */
#pagination__container button:disabled {
    background-color: #c0c0c0; /* Gray color for disabled */
    cursor: not-allowed; /* Not-allowed cursor */
}